.checkout {
  height: 91%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fafafa;
}

.checkoutWrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  justify-content: flex-start;
}

.steps {
  padding: 2% 4%;
  margin: 2% 4%;
  background-color: white;
}

.details {
  /* padding: 3% 8%; */
  margin-top: 3%;
  align-content: flex-start;
}

.media {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.descriptionOrder {
  text-align: left;
}

img {
  width: 250px;
  height: 400px;
  object-fit: contain;
}

.backForth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.buttons {
  display: flex;
  gap: 10px;
}
